<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" 
         backupGlobals="false" 
         colors="true"
         bootstrap="vendor/autoload.php" 
         cacheDirectory="var/phpunit">
  <coverage/>
  <testsuites>
    <testsuite name="delolmo/symfony-router">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </source>
</phpunit>
